body {
  background-color: #000000;
  color: #f0f0f0;
  font-family: "Source Sans Pro", "Droid Sans", "OpenSans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;

  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid rgba(240, 240, 240, 0.20);
}

video {
  display: block;
}

video#background {
  position: fixed;
  top:     0px;
  left:    -1%;
  min-width:  102%;
  min-height: 102%;
  width:  auto;
  height: auto;
  z-index: -1;
  background: url("./Construction_Poster.png") no-repeat;
  background-size: cover;
}

small#attribution {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 10px;
}

main {
  z-index: 1;
  background-color: rgba(0, 0, 0, .45);
  position: fixed;
  top:  0px;
  left: 0px;

  margin:  10px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0px;
  padding: 0px;
}

a:hover {
  color: #d0d0d0;
  text-decoration: underline;
}

a:visited {
  color: #d0d0d0;
}
